In [0]:
#Import the libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [0]:
#Read the csv file
data = pd.read_csv("austin_weather.csv")
#replace "-" values with 0
data = data.replace('-', 0.0)
data.head()

         Date  TempHighF  ...  PrecipitationSumInches               Events
0  2013-12-21         74  ...                    0.46  Rain , Thunderstorm
1  2013-12-22         56  ...                       0
2  2013-12-23         58  ...                       0
3  2013-12-24         61  ...                       0
4  2013-12-25         58  ...                       T

[5 rows x 21 columns]

In [0]:
#Data Cleaning and getting the necessary columns for our Linear Regression#
X = data.iloc[:,[5]].values

Y = data.iloc[:,2].values

#X = X[np.logical_not(np.isnan(X))]

#Y = Y[np.logical_not(np.isnan(Y))]

#X = np.delete(X, (0), axis=0)

#Y.shape
#X.shape

In [0]:
#SPlitting our data into Training and Testing sets
X_train, X_test, y_train, y_test = train_test_split(X ,Y, random_state = 0)

989

In [0]:
#Linear Regression object 
regressor = LinearRegression()

In [0]:
#Fitting the Linear regression to our training set
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
#Predicted y values based on our linear regression model 
y_pred = regressor.predict(X_test)

In [0]:
#Linear Regression score
#0.73 is a pretty good score
regressor.score(X_test,y_test)

0.7312348486215597

In [0]:
val = int(input( "Enter your value: "))

Enter your value: 7

In [0]:
#my_var = np.array([[49]])
#my_var = np.array([[33]])

numpy.ndarray

In [0]:
pred_fun = regressor.predict([[val]])
pred_fun

array([33.61669417])

In [0]:
#Converting Temperature values from Farenheight to Celsius
celsius = ( pred_fun - 32) / 1.8

In [0]:
print(celsius)

[0.89816343]